<p>Hello {{ user.username }}! 👋</p>

<p>🎉 Welcome to the AWS Learning Platform! 🚀</p>

<p>🔐 Your account has been successfully created. Here are your login details:</p>
<ul>
    <li>👤 Username: {{ user.username }}</li>
    <li>🔑 Password: {{ password }}</li>
</ul>

<p>📝 Please log in and change your password after your first login.</p>
<p>🌈 Challenges await you! Start your AWS learning journey now.</p>

<p>🆘 If you have any issues, contact us at:<br>
📧 <a href="mailto:devon@awslearningplatform.click">devon@awslearningplatform.click</a></p>

<p>🏆 Happy Learning!<br>
AWS Learning Platform Team 💻</p>

<hr>
<footer>
    🌐 <a href="https://awslearningplatform.click/">Visit Us</a> |  
    📧 <a href="mailto:devon@awslearningplatform.click">devon@awslearningplatform.click</a><br>
</footer>
